/* Fix myst-nb output scrolling */

.rst-content .cell_output .highlight {
    max-height: 400px;
    overflow-y: auto !important;
}

/* Prevent pre from expanding parent */
.rst-content .cell_output .highlight pre {
    margin: 0;
}
